<div class="centerbox clear">
  <div class="wide-form">
    <div class="create-message-template">
      <%= render 'message_templates/form' %>
    </div>
  </div>
  <div>
    <%= render 'search_form' %>
  </div>
</div>
