/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 *= require chosen
*/
.message_modal {
  padding: 8px 8px;
  width: 430px;
  border-radius: 5px;
  background-color: rgba(24, 59, 98, 0.8);
  border: solid 1px #1D4063;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  z-index: 9;
}
.message_modal h1 {
  padding: 5px 0 0 5px;
  margin: 0;
}
#message_template_subject, #message_template_message, #message_message, #message_subject {
  width: 400px;
  max-width: 400px;
  min-width: 400px;
}
#message_template_message, #message_message {
  height: 150px;
}
.signin {
  border: 1px solid #d8d8d8;
  background-color:rgba(24,59,98,0.6);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-border-radius: 5px;
	-khtml-border-radius: 5px;
}
.sm_txt {
  color: white;
  font-family: Tahoma,Arial,sans-serif;
  font-size: 1.6em;
  text-shadow: none;
  text-transform: uppercase;
  margin-left: 40px;
}
li {
  color: black;
  font-size: 1em;
}
div {
  color: white;
  font-family: Tahoma,Arial,sans-serif;
  font-size: 0.7em;
  text-shadow: none;
}
.submit {
  margin-right: 40px;
}
.fl { float: left; }
.fr { float: right; }
.tal { text-align: left; padding-left: 10px; }
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.clear {
  clear: both;
}
.centerbox {
  padding-top: 40px;
  float: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
.centerbox_sm {
  padding-top: 40px;
  float: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
.matches-container {
  padding-top: 40px;
  width: 1260px;
}
.logo {
  margin-top: 20px;
  margin-left: 10%;
}
body {
  background: #2963A4;
}
ul.hmenu {
  list-style: none;	
  margin-top: 20px;
  margin-right: 10%;
  padding: 0;
  float: right;
}
ul.hmenu li {
  display: inline;  
}
#flash-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#flash_notice, #flash_error {
  padding: 8px 8px;
  margin: 0 auto;
  width: 500px;
  float: center;
  border-radius: 5px;
  color: white;
  font-size: 0.8em;
}
#flash_notice {
  background-color: #1d4063;
  border: solid 1px #3c84cd;
}
#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

